{% extends 'navbar.html' %}

{% block content %}
{% include 'alerts/flash.html' %}
<section class="main">
    <div class="container">

        <div class="col-xs-6"></div>
        <div class="col-xs-4">
          <table class="table table-sm table-striped">
            <thead class="table-dark">
              <tr class="text-center">
                <th>Empresa</th>
                <th>Ruta</th>
                <th>Nombre</th>
                <th>Tipo de Ruta</th>
                <th>Codigo de Proveedor en Wallmar</th>
                
              </tr>
            </thead>
            <tbody>
              {% for user in Users %}
              <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
        
        </div>
      </div>
    </div>
  
  </section>
  
{% endblock %}